footer {
    background-color: #353535;
    padding-top: 15px;
    padding-bottom: 10px;
    p {
        color: white;
        margin-bottom: 0;
        margin-top: 0;
    }
    i {
        color: white;
    }
    img {
        width: 120px;
}

.contenu_footer {
    margin-left: 20px;
    .logo_small {
        margin-bottom: 15px;
    }
    .last_p {
        margin-top: 3px;
    }
}

.icone_text {
    display: flex;
    margin-bottom: 5px;
}
    i {
        padding-top: 0;
        margin-right: 15px;
        font-size: 15px;
    }
}