header {
    background-color: white;
    text-align: center;
    margin-top: 30px;
    img {
        width: 200px;
        margin-bottom: 10px;
    }
}

.header_restaurant {
    display: flex;
    align-items: flex-start;
    gap: 15%;
    padding-left: 5%;
    i {
        font-size: 25px;
    }
}